<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h1>All Users</h1>
  <ul>
    <% @users.each do |user| %>
     
      <li><%= user.name %></li>
      <li>Number of posts: <%= user.posts_counter %></li>
      
    <% end %>
  </ul>
</body>
</html>
