<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <h2>Username</h2>
  <p>Number of posts:x</p>
  <p>Bio</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae recusandae soluta tempore molestiae eum nam veniam autem. Mollitia tenetur ad provident, quisquam eius velit recusandae accusamus architecto hic, neque deserunt.</p>
  <p>Post 1 </p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae recusandae soluta tempore molestiae eum nam veniam autem. Mollitia tenetur ad provident, quisquam eius velit recusandae accusamus architecto hic, neque deserunt.</p>
  <p>Comments: x Likes: y</p>
  <p>Post 2 </p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae recusandae soluta tempore molestiae eum nam veniam autem. Mollitia tenetur ad provident, quisquam eius velit recusandae accusamus architecto hic, neque deserunt.</p>
  <p>Comments: x Likes: y</p>
  <p>Post 3 </p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae recusandae soluta tempore molestiae eum nam veniam autem. Mollitia tenetur ad provident, quisquam eius velit recusandae accusamus architecto hic, neque deserunt.</p>
  <p>Comments: x Likes: y</p>
</body>
</body>
</html>
