<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div class ="container">
    <div class="cards">
      <div class="detail-top">
        <p>Post 1 by username  <%= @specific_post.title %></p>

        <p>Post 1 by username  <%= @specific_user.id %></p>        <p>Comments: x Likes: x</p>
      </div>
    </div>
    <div class="main-section">
      <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis voluptatum dolores voluptate animi maxime suscipit voluptates placeat vitae aliquam harum assumenda, culpa magnam adipisci incidunt sequi aperiam possimus aliquid doloribus!
      <p>
      <p>Username: Comments 1</p>
      <p>Username: Comments 2</p>
      <p>Username: Comments 3</p>
      <p>Username: Comments 4</p>
      <p>Username: Comments 5</p>
      <p>Username: Comments 6</p>
      <p>Username: Comments 7</p>
      <p>Username: Comments 8</p>
      <p>Username: Comments 9</p>
      <p>Username: Comments 10</p>
      
      <a href="<%= new_comment_path(user_id: @specific_user.id, post_id: @specific_post.id)) %>">
        <button>Create comment</button
      </a>
    </div>
  </div>
</body>
</body>
</html>
